@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;;
}

body{
    background-color: black;
}

h1,h2,h4,h3,p,label,a{
     color: #ffff;
     text-decoration: none;
}
